body {
    margin: 0px;
  }
  
.sidebar {
    width: 150px;
    background-color: green;
    color: whitesmoke;
    height: 100vh;
    padding: 20px;
}
  
.item {
    font-weight: bold;
    margin: 10px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif;
}
body {

    margin: 0;

    font-family: sans-serif;

    display: flex;

    min-height: 100vh;

}

.sidebar {

    width: 250px;

    background-color: #f4f4f4;

    padding: 20px 0;

    box-shadow: 2px 0 5px rgba(0,0,0,0.1);

    display: flex;

    flex-direction: column; 

    align-items: flex-start;

    flex-shrink: 0;

}

.item.page {

    width: 100%;

    padding: 15px 20px;

    box-sizing: border-box;

    cursor: pointer;

    color: #333;

}

.item.page:hover {

    background-color: #ddd;

    color: blue;
